* {
    box-sizing: border-box;
  }

body {
    margin: 10px;
    padding: 10px;
}

table, th, td {
  padding: 3px;
  border: 1px solid rgba(134, 134, 134, 0.74);
}

table {
	display: table;
}
table tr {
	display: table-cell;
}
table tr td {
	display: block;
}

table {
  align-self: center;
}