{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>

    <div class="dix">
        {% for listing in listings %}
            <ul>
                <div class="listing">
                    <li>
                        {% if listing.image %}
                        <img src={{listing.image}} class="listing_image">             
                        {% endif %} 
                        <h2><a href="{{listing.id}}">{{listing.title}}</a></h2>
                        <br>
                        Current Price - ${{listing.bid}}
                        <br>
                        [Listed by: {{listing.user}}] 
                        <br>
                        {{listing.description}}                   
                    </li>
                </div>
            </ul>
        {% endfor %}
    </div>
{% endblock %}