{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{% block heading %}{{heading}}{% endblock %}</h2>
    <div class="w3-row">
    {% for listing in listings %}
    <div class="w3-third w3-center">
    <div class="card">
        <img src="{{listing.image}}" alt="Denim Jeans" style="width:100%">
        <h1>Tailored Jeans</h1>
        <p class="price">$19.99</p>
        <p>Some text about the jeans..</p>
        <p><button>Add to Cart</button></p>
      </div>
    </div>
{% endfor %}
</div>
{% endblock %}