{% extends 'auctions/layout.html' %}
{% block body %}
    <div class="top_div">
        {% if Watchlist %}
        <form action="" method="post">
            {% csrf_token %}
            {% if listing in Watchlist.listings.all%}
            <input type="hidden" name="watchlist" value="0">
            <input type="submit" style="float:right" value="Remove from Watchlist">
            {% else %}
            <input type="hidden" name="watchlist" value="1">
            <input type="submit" style="float:right" value="Add to Watchlist">
            {% endif %}
        </form>
        {% endif %}
        <h2 id="title">{{listing.title}}</h2>
    </div>
    <div class="content">
        {% if listing.image %}
            <img src={{listing.image}} class="listing_image">    
        {% endif %} 
            {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                Current Price - $<input type="number" name="bid" value="{{listing.bid}}">
                <input type="submit" name="Bid" value="Bid">
            </form>
            {% else %}
            Current Price - ${{listing.bid}}
            {% endif %}
            <br>
            [Listed by: {{listing.seller}}] 
            <br>
            {{listing.description}}
    </div>

{% endblock %}