{% extends 'auctions/layout.html' %}
{% block body %}
    <h2 id="title">{{listing.title}}</h2>
    <div id="content">
        <div id="base_details_sec">
            {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                Current Price - $<input type="number" name="bid" value="{{listing.bid}}">
                <input type="submit" name="Bid" value="Bid">
            </form>
            {% else %}
            Current Price - ${{listing.bid}}
            {% endif %}
            <br>
            [Listed by: {{listing.seller}}] 
            <br>
            {{listing.description}}
        </div>
        {% if listing.image %}
        <div id="image_sec">
            <img src={{listing.image}} class="listing_image">
        </div>    
        {% endif %} 
    </div>

{% endblock %}