{% extends 'auctions/layout.html' %}
{% block body %}
    <div class="top_div">
        <h2 id="title">{{listing.title}}</h2>
        {% if listing in Watchlist%}
        <span style="float:right" id="watchlist">Remove from Watchlist</span>
        {% else %}
        <span style="float:right" id="watchlist">Add to Watchlist</span>
        {% endif %}
    </div>
    <div id="content">
            {% if user.is_authenticated %}
            <form action="" method="post">
                {% csrf_token %}
                Current Price - $<input type="number" name="bid" value="{{listing.bid}}">
                <input type="submit" name="Bid" value="Bid">
            </form>
            {% else %}
            Current Price - ${{listing.bid}}
            {% endif %}
            <br>
            [Listed by: {{listing.seller}}] 
            <br>
            {{listing.description}}
        {% if listing.image %}
            <img src={{listing.image}} class="listing_image">    
        {% endif %} 
    </div>

{% endblock %}