* {
    box-sizing: border-box;
  }

body {
    padding: 10px;
}

ul {
    list-style-type: none;
    padding-inline-start: 10px;
}
.listing_image{
    max-width:100%;
    height:auto;
}
#listing{
    border: 3px solid rgb(167, 167, 167);
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}


#image_sec{
    max-height: fit-content;
    max-width:50%;
}

#base_details_sec {
    max-width: 50%;
    max-height: fit-content;
    float: right;
}